* {
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

#logo_container {
    display: flex;
}

#logo {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

#search_button {
    border: 1px solid #fca311;
    height: 34px;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#search_button:hover {
    background-color: #fca311;
    color: white;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 260px);
    background-color: aliceblue;
}

#main_image {
    width: 60vw;
    height: 60vh;
}

#footer {
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

#github_icon {
    width: 20px;
    height: 20px;
}

#trending_coins_container {
    background-color: aliceblue;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trending_coins_heading {
    color: #fca311;
    margin-bottom: 16px;
}

.trending_coin_container {
    display: flex;
    gap: 24px;
    align-items: center;
    min-width: 350px;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

#trending_coins_slideshow {
    display: flex;
    gap: 24px;
    width: 100vw;
    overflow-x: hidden;
    padding: 12px 16px;
}

.coin_name {
    font-size: 24px;
    margin-bottom: 8px;
}

.coin_price {
    color: gray;
}

#action_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid lightgray;
}

#action_container_heading {
    color: #fca311;
}

#search_input {
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    padding: 0px 8px;
    margin-right: 12px;
}

#search_input_button {
    height: 30px;
    font-size: 20px;
    background-color: #fca311;
    color: white;
    border: none;
    border-radius: 4px;
}

#coins_container {
    height: calc(100vh - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
    gap: 16px;
    overflow-y: scroll;
}

.coin_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgrey;
    padding: 12px 16px;
    align-items: center;
    border-radius: 4px;
}

.coin_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.coin_image {
    width: 20px;
    height: 20px;
}

.more_info_button {
    background-color: white;
    height: 24px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}